<h1>New Story (r) </h1>

<%= form_for @r_story do |f| %>

  Title:<br>
  <%= f.text_field :title %>
  <br><br>

  Content:<br>
  <%= f.text_area :content, rows: 8 %>
  <br><br>

  Published?
  <%= f.check_box :published %>
  <br><br>

  Tags:<br>
  <%#= f.text_field '[tags][]' %>       <!-- Cant do this -->
  <%= text_field_tag 'tags[]' %>
  <%= text_field_tag 'tags[]' %>
  <%= text_field_tag 'tags[]' %>
  <br><br>
  
  <%= f.submit %>

<% end %>